
<% @cohorts.each do |cohort|%>
    <div class="profileSummaryWrap">
        <h5>cohort title: <%=cohort.name %> </h5>
      <div class="profileSummaryPicWrap"></div>
        <div><%=cohort.start%></div>
        <div><%=cohort.end%></div>
    </div>
<%end%> 