<h1>Editing Cohort</h1>


<p> add and remove a teacher</p>
<p> see the students add a student</p>
<%= render 'form', cohort: @cohort %>

<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>
