<h1>Editing Cohort</h1>


<p> add and remove a teacher</p>
<p> see the students add a student</p>
<%= render 'form', cohort: @cohort %>
<span class="toDo">
    <pre>
        add or change the teacher
        automatically display the students.  button to remove a student
        field to add a student
    </pre>
</span>



<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>
