<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<p class="toDo">see what cohorts the student is in</p>
<p class="toDo">remove the student from a cohort</p>
<p class="toDo">add this student to a cohort</p>
<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
