<h1>Editing Teacher</h1>

<%= render 'form', teacher: @teacher %>

<p class="toDo">Add the teacher to a cohort</p>
<p class="toDo">see all the cohorts is teaching</p>

<%= link_to 'back to this teacher', @teacher %> |
<%= link_to 'back to all teachers', teachers_path %>
