#controlButtonsWrap {
  padding-top: 3rem;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  /* border: solid green 3px; */
}

#controlsContent {
  /* border: aqua 3px solid; */
}
