/* EVERYTHING INSIDE THE DISPLAYFRAME */

.outterSlideShowContainer {
  /* background-color: purple; */
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61tbRy6bjuL._SL1075_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 2s;
}

#sign_in_form {
  width: 50%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.topicFrame {
  border: dotted turquoise 5px;
  overflow-y: scroll;
}

.profileSummaryWrap {
  height: 200px;
  width: 200px;
  /* border: dotted orange 3px; */
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profileSummaryPicWrap {
  height: 50px;
  width: 50px;
  background-size: contain;
  /* background-color: purple; */
}

#students,
#teachers,
#classes,
#cohorts {
  /* border: dotted lightgreen 5px; */
  flex-grow: 1;
  display: flex;
  animation-name: fadeIn;
  animation-duration: 2s;
}
#teachers {
  /* border: dotted rgb(228, 40, 16) 5px; */
}

.displayAll {
  display: inline;
  /* max-width: 60%; */
  /* background-color: yellow; */
  /* display: flex;
  flex-wrap: wrap; */
  overflow-y: scroll;
  text-align: center;
  background-color: gainsboro;
}

.personProfileWrap {
  /* border: solid blue 3px; */
  background-color: white;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin: 1rem;
  width: 400px;
  /* height: 200px; */
  /* float: left; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.personProfileWrap div {
  padding: 0.5rem;
  /* border: 1rem; */
}
.profilePicWrap {
  width: 80%;
  height: 100px;
  /* border: orange 3px dotted; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: white;
}
.courseProfileWrap {
  /* border: solid green 3px; */
  width: 300px;
  height: 400px;
  float: left;
}

#subjectControlWrap {
  background-color: violet;
  color: white;
  padding: 1rem;
  position: fixed;
  /* border: solid magenta 2px; */
  border-radius: 10px;
  /* border: dotted magenta 5px; */
  /* position: absolute;
  top: 0px; */
  width: 200px;
  transform: translate(50px, -0px);
}
#subjectControlWrap a {
  color: white;
}

/* EDIT A COHORT: */

#editCohortWrap {
  /* border: solid magenta 4px; */
  width: 100%;
  display: inline;
  text-align: left;
}

#editCohortBody {
  /* border: solid orange 5px; */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

#editCohortFormWrap {
  padding: 1rem;
}

#editCohortFormWrap div {
  padding: 0.5rem;
}
.displayEdit {
  display: block;
  position: relative;
  border: solid pink 3px;
}
#cohortEditHeader {
  position: absolute;
  top: 0px;
  display: inline;
  width: 30%;
}

#addStudentsToCohortWrap,
#removeStudentsToCohortWrap {
  padding: 1rem;
}

#addStudentsToCohort,
#removeStudentsFromCohort {
  color: darkgray;
  height: 350px;
  padding: 1rem;
  overflow-y: scroll;
  line-height: 1.5rem;
  text-align: left;
}
#removeStudentsFromCohort {
  color: black;
}
#addStudentsToCohort div,
#removeStudentsFromCohort div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
#addStudentsToCohort div button,
#removeStudentsFromCohort div button {
  border-radius: 50%;
  color: gray;
  border: none;
  padding: 0.5rem;
  background-color: rgb(47, 255, 220);
}

#removeStudentsFromCohort div button {
  /* background-color: rgb(168, 223, 213); */
  background-color: white;
  color: orange;
}

#addStudentsToCohortWrap {
  transform: translate(0px, -20px);
  background-color: pink;
  border: dotted orange 3px;
}
