#flashNoticeWrap {
  /* border: solid blue 2px; */
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
}

body {
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  /* background-color: #f8faff; */
}

#pageFrame {
  height: 100vh;
  width: 100vw;
  /* border: solid greenyellow 2px; */
  display: grid;
  grid-template-columns: [left-page]1fr[left-margin] 15fr[right-margin] 1fr[right-page];
  grid-template-rows: [top] minmax(200px, 4fr) [content] minmax(400px, 10fr) [controls] 8fr [footer]2fr[bottom];
}

header {
  grid-column-start: left-page;
  grid-column-end: right-page;
  grid-row-start: top;
  grid-row-end: content;
  /* border: magenta 2px solid; */
  padding-top: 2.5rem;
}

#displayFrame {
  grid-column-start: left-margin;
  grid-column-end: right-margin;
  grid-row-start: content;
  grid-row-end: controls;
  /* background-color: pink; */
  border: magenta 2px solid;
  /* overflow-y: scroll; */
}

/* when the display frame is showing the home slideshow */
.displayFrameHome {
  display: flex;
}
/* when the display frame is showing model instances */
.displayFrameDisplay {
  display: grid;
  overflow-y: scroll;
}

.oneColumn {
  display: grid;
  grid-template-columns: 1fr;
}
.twoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr 1r;
}
.threeColumn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.fourColumn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#controlsFrame {
  grid-column-start: left-margin;
  grid-column-end: right-margin;
  grid-row-start: controls;
  grid-row-end: footer;
  /* background-color: pink; */
  /* border: dotted orange 5px; */

  display: grid;
  grid-template-rows: 1fr 5fr;
}

footer {
  grid-column-start: left-page;
  grid-column-end: right-page;
  grid-row-start: footer;
  grid-row-end: bottom;
  /* background-color: pink; */
  /* border: magenta 2px solid; */
}
