#siteTitle {
  /* font-family: "Cookie", cursive; */
  font-family: "Love Ya Like A Sister", cursive;
  color: rgb(255, 136, 0);
  font-size: 3rem;
  animation-name: rubberBand;
  animation-duration: 1.5s;

  /* animation-delay: 0s; */
}
#siteTitleWrap {
  transform: translate(0px, 50px);
  /* opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: both; */
}
